/* ==========================================================================
   5. Single Post - When you click on an individual post
   ========================================================================== */
.post {
    &-template .post {
        margin-top: 0;
        border-bottom: none;
        padding-bottom: 0;
        &:after {
            display: none;
        }
        &-header {
            padding: 60px 0;
        }
    }
    &-header #blog-logo:before {
        margin: 60px auto;
    }
    &-content img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    &-subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
        border: 1px solid #1d2027;
        border-radius: 25px;
        background:#1d2027;
        z-index: 1;
        box-shadow: 0px 0px 15px #1d2027;
        h3 {
            font-size: 1.5em;
        }
        p {
            font-size: 0.9em;
        }
        .submit-button {
            border-radius: 25px;
            transition: background-color 0.3s ease !important; 
        }
        form {
            width: 100%;
            div {
                width: 100%;
                text-align: center;
            }
            text-align: center;
        }
        input {
            border-radius: 5px;
            width: 20em;
            text-align: center
        }
    }
    &-footer {
        position: relative;
        margin: 4rem 0 0 0;
        padding: 4rem 0 0 0;
        border-top: $border 1px solid;
        h4 {
            font-size: 1.8rem;
            margin: 0;
        }
        p {
            margin: 1rem 0;
            font-size: 1.4rem;
            line-height: 1.6em;
        }
        .author {
            margin-right: 180px;
        }
        .share {
            position: absolute;
            top: 4rem;
            right: 0;
            width: 140px;
            display: inline-block;
            a {
                font-size: 1.8rem;
                margin: 1.4rem 1.6rem 1.6rem 0;
                color: #BBC7CC;
                &:hover {
                    color: #50585D;
                }
            }
        }
        @media screen and (min-width: 501px) {
            .share {
                position: absolute;
                top: 4rem;
                right: 0;
                width: 140px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                h4 {
                    flex-grow: 1;
                    flex-shrink: 0;
                }
                a {
                    font-size: 1.8rem;
                    margin: 1.4rem 1.6rem 1.6rem 0;
                    color: #BBC7CC;
                    flex-grow: 0;   
                    &:hover {
                        color: #50585D;
                    }
                }
            }
        }
    }
}
